{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a  class="text" id="back" href="#"><-- Назад</a>
        <img src="/static/img/logo1.png" style="height: 70px; width: 100px; margin-left: 300px;" alt="здесь должна была быть картинка, но не нашлась">
        <p class="text" id="getnick"
           style="margin-left: 240px; width: 190px">Вы авторизовались как
            {{nick}}</p>
    </div>
</nav>

<div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <div style="width:860px;">
                <h3 class="text"
                    style="margin-top: 20px;float:left; width:350px;">
                    Добавление ссылки:</h3>
                <h3 class="text"
                    style="margin-top: 20px;float:right;width:350px;">Доступные
                    ссылки:</h3>

            </div>


        </li>
        <li class="nav-item">
            <div style="width:860px;">
                <h4 class="text"
                    style="margin-top: 50px;float:right; width:350px;">Поиск
                    ссылки:</h4>

                <h4 class="text"
                    style="margin-top: 50px; float:left; width:350px;">Название
                    ссылки:</h4>
            </div>
            <div style="width:970px;">
                <input onkeyup="clearing()" class="form-control text"
                       id="linkname"
                       style="resize: none; width: 460px; float:left;"/>
                <input class="form-control text" onkeyup="looking()"
                       id="lookedit"
                       style="resize: none; width: 460px;float:right;"/>
            </div>
        </li>
        <li class="nav-item">
            <div style="width:970px;">
                <h4 class="text"
                    style="margin-top: 40px; width: 460px; float:left;">Ссылка:</h4>
                <div class="nav"
                     style="margin-top: 20px; width: 460px; float:right;">
                    <h4 class="text" style="margin-top: 20px">Сортировать
                        по:</h4>
                    <select id="showway" class="text" onchange="on_change()"
                            style="margin-top: 20px; margin-left: 20px">
                        <option class="text">Дате и времени</option>
                        <option class="text">Названию</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="nav-item">
                            <label style="resize: none; width: 460px;margin-top: 20px;float:right;"></label>

                <input onkeyup="clearing()" class="form-control text" id="linkdata"
                       style="resize: none; width: 460px;margin-top: 30px;float:left;"/>



        </li>

        <li class="nav-item">
            <div style="width:970">
                <button disabled id="addlinkbtn" onclick="addlink()"
                        type="button"
                        class="btn btn-primary"
                        style="width: 460px; margin-top: 20px;float: left;">
                    Добавить ссылку
                </button>
                <button disabled id="openbutton" type="button"
                        onclick="openlinks()"
                        class="btn btn-primary"
                        style="width: 600px; margin-top: 20px;float: right;">Не
                    выбрано ни одной ссылки
                </button>
                <button hidden id="delbutton" type="button"
                        class="btn btn-primary" onclick="deletelink()"
                        style="width: 600px; margin-top: 10px;float: right;">
                    Удалить выбранные
                </button>
                <span id="message"
                      style="width: 460px; margin-right: 10px; margin-top: 20px;color:#FF0000;">{{message}}</span>
            </div>
        </li>

        <li class="nav-item">
            <div style="width:1110px;">
                <table id="table" border="1" class="tablestyle3"
                       style="margin-top: 20px;width: 600px;float:right;">
                    <tr class="trstyle3">
                        <th class="thstyle3 text cen">Выбрать</th>
                        <th class="thstyle3 text cen">Название</th>
                        <th class="thstyle3 text cen">Добавлена</th>
                        <th class="thstyle3 text cen">Ссылка</th>
                    </tr>
                    {% for i in range(a) %}
                    <tr>
                        {% for j in rem[i] %}
                        {% if j == '-' %}
                        <td class="thstyle3">
                            <input type="checkbox" name="cb"
                                   onchange="checkstate()"
                                   style="margin-left: 45%">
                        </td>
                        {% else %}
                        <td align="center"
                            style="text-overflow: ellipsis; overflow: hidden">
                            {{ j }}
                        </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <label style="resize: none; width: 460px;margin-top: 20px;float:right;"></label>
            </div>
        </li>

    </ul>
</div>

<script>
window.history.forward(1);

let work_name = document.querySelector('#getnick').textContent.slice(22).trim();
document.querySelector('#back').href = "/mainwindow/" + work_name;

const request = new XMLHttpRequest();

request.open('POST', '/get_datas' + '/' + work_name + '/links', false);
let data = new FormData();
request.send(data);
data = JSON.parse(request.responseText);

let table = document.querySelector('table');
let ld0 = data["Дате и времени"];

for (let i = 1; i <= 100; i++) {

        table.rows[i].style.display = 'none';

    }
for (let i = 1; i <= ld0.length; i++) {
    for (let j = 1; j <= 3; j ++) {
        table.rows[i].style.display = 'table-row';

        table.rows[i].cells[j].innerHTML = ld0[i- 1][j - 1];
        }
    }



if (data["Названию"].length == 0) {
  document.querySelector('#openbutton').textContent = "Нет доступных ссылок";
  document.querySelector('#openbutton').setAttribute("disabled", "true");
  document.querySelector('#delbutton').setAttribute("hidden", "true");
  document.querySelector('#showway').setAttribute("disabled", "true");
  document.querySelector('#lookedit').setAttribute("readonly", "true");

  table.rows[0].style.display = 'none';

    }

function looking () {

    let x = document.querySelector('#lookedit').value.toLowerCase();

    let n = document.querySelector('#showway')
    let key = n.options[n.selectedIndex].text;
    let ld = data["look_data"];
    let ok_mas = [];
    let table = document.querySelector('#table');

     for (let i = 1; i <= 100; i++) {

        table.rows[i].style.display = 'none';
            };

    for (let i = 0; i < ld.length; i++ ){
            if (ld[i].includes(x)) {
                ok_mas.push(i);
        }
    };

    let norm_mas = [];

    for (let i = 0; i < ok_mas.length; i++) {
        norm_mas.push(ok_mas[i]);
        };
    let final_mas = [];
     for (let i = 0; i < norm_mas.length; i++) {
        final_mas.push(data[key][norm_mas[i]]);
        };

  document.querySelector('#openbutton').textContent = "Нет ссылок, удовлетворяющих поиску";
  document.querySelector('#openbutton').setAttribute("disabled", "true");
  document.querySelector('#delbutton').setAttribute("hidden", "true");


  document.querySelector('#showway').setAttribute("disabled", true);
  table.rows[0].style.display = 'none';

  for (let i = 0; i < final_mas.length; i++) {
     //document.querySelector('#delbutton').removeAttribute("hidden");


    table.rows[i + 1].style.display = 'table-row';
    table.rows[0].style.display = 'table-row';

    // document.querySelector('#openbutton').removeAttribute("disabled");

    document.querySelector('#showway').removeAttribute("disabled", true);


    document.querySelector('#openbutton').textContent = "Не выбрано ни одной ссылки"
    document.querySelector('#openbutton').href = "/open/" + work_name;


    for (let j = 1; j <= 3; j ++) {
    table.rows[i + 1].style.display = 'table-row';

    table.rows[i + 1].cells[j].innerHTML = final_mas[i][j - 1];
    }
};
   //checkstate();
   return final_mas.length;

};

function clearing () {

      document.querySelector('#message').textContent = "";
      if (document.querySelector('#linkdata').value == "" || document.querySelector('#linkname').value == ""){
          document.querySelector('#addlinkbtn').disabled = true;
      } else {
        document.querySelector('#addlinkbtn').disabled = false;
      }

      };


function addlink () {
  var uri = '/adddata/' + work_name;
  var xhr = new XMLHttpRequest();
  var fd = new FormData();
  xhr.open('POST', uri, true);
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && xhr.status == 200) {
      var imageName = xhr.responseText;

      window.location.reload();

      //do what you want with the image name returned
      //e.g update the interface
    }
  };
  fd.append('type', 'links');
  fd.append('name', document.querySelector('#linkname').value);
  fd.append('body', document.querySelector('#linkdata').value);
  xhr.send(fd);
};

function openlinks() {
    let n = document.querySelector('#showway')

    let key = n.options[n.selectedIndex].text;
  let openmas = [];
  let cb = document.getElementsByName('cb');
  for (let i = 0; i < cb.length; i++) {
        if (cb[i].checked == true) {
          openmas.push(data[key][i]);

            };
  };
  for (let i = 0; i < openmas.length; i++) {
  if  (openmas[i][2].includes("http://")) {
            window.open( openmas[i][2])
            }
         else {
         window.open("http://" + openmas[i][2])
         }
    }

  };
function checkstate () {

    let cb = document.getElementsByName('cb');
    let flag = false;
    for (let i = 0; i < cb.length; i++) {
        if (cb[i].checked) {
            flag = true;
        }
        }
    if (flag == true) {
        document.querySelector('#delbutton').removeAttribute("hidden");
        document.querySelector('#openbutton').textContent = "Открыть выбранные";
        document.querySelector('#openbutton').removeAttribute("disabled");
        }
    else {

        document.querySelector('#delbutton').setAttribute("hidden", "true");
        document.querySelector('#openbutton').textContent = "Не выбрано ни одной ссылки";
        document.querySelector('#openbutton').setAttribute("disabled", "true");
    }

}
function deletelink () {
    let n = document.querySelector('#showway')
    let key = n.options[n.selectedIndex].text;
    let cb = document.getElementsByName('cb');
    let mas = []
    for (let i = 0; i < cb.length; i++) {
        if (cb[i].checked) {
            mas.push(data[key][i].join("+-+"));
        }
    }
  var uri = '/delete_datas/' + work_name;
  var xhr = new XMLHttpRequest();
  var fd = new FormData();
  xhr.open('POST', uri, true);
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && xhr.status == 200) {
      var imageName = xhr.responseText;
            window.location.reload();



      //do what you want with the image name returned
      //e.g update the interface
    }
  };
  fd.append('del_type', 'links');
  fd.append('deletepart', mas.join("\n"));
  xhr.send(fd);
};

function on_change() {
    let table = document.querySelector('#table');

    for (let i = 0; i < 100; i++) {
        table.rows[i + 1].style.display = 'none';
    }

    let n = document.querySelector('#showway')
    key = n.options[n.selectedIndex].text;
    let ld0 = data[key];

    for (let i = 1; i <= ld0.length; i++) {
        for (let j = 1; j <= 3; j ++) {
            table.rows[i].style.display = 'table-row';
            table.rows[i].cells[j].innerHTML = ld0[i- 1][j - 1];
        }
    }

};



</script>
{% endblock %}