{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a  class="text" id="back" href="#"><-- Назад</a>
        <img src="/static/img/logo1.png" style="height: 70px; width: 100px; margin-left: 300px;" alt="здесь должна была быть картинка, но не нашлась">
        <p class="text" id="getnick"
           style="margin-left: 240px; width: 190px">Вы авторизовались как
            {{nick}}</p>
    </div>
</nav>

<ul class="nav flex-column">
  <li class="nav-item">
    <label></label>
  </li>
  <li class="nav-item">
      <nav class="nav">
        <h4 class="text" style="margin-top: 5px">Тема письма:</h4>
        <input id="theme" onkeyup="clearing()" class="form-control text" style="resize: none; width: 400px; margin-left: 70px;color:#120a8f;">
      </nav>
  </li>
    <li class="nav-item">
    <label></label>
  </li>
      <li class="nav-item">
      <nav class="nav">
        <div>
          <ul class="nav flex-column">
            <li class="nav-item">
              <h4 class="text" style="margin-top: 5px">Текст письма:</h4>
            </li>
            <li class="nav-item">
              <textarea onkeyup="clearing()" class="form-control text" id="text" rows="20" style="resize: none; width: 500px;color:#120a8f;"></textarea>
            </li>
            <li class="nav-item">
              <button  disabled id ="sendbutton" class="btn btn-primary" onclick="sendmail()" role="button" style="width: 500px; margin-top: 20px">Отправить</button>
            </li>
          </ul>
        </div>
        <div style="margin-left: 140p">
          <ul class="nav flex-column">
            <li class="nav-item">
              <h4 class="text" style="margin-top: 5px; margin-left: 100px">Получатели:</h4>
            </li>
            <li class="nav-item">
              <textarea readonly class="form-control text" id="person" rows="20" style="resize: none; width: 500px; margin-left: 100px">{{ person }}</textarea>
            </li>
            <li class="nav-item">
              <form>
                  <div class="form-group">
                    <input type="file" class="form-control-file" id="file" style="width: 500px; margin-left: 100px; margin-top: 20px; color: #1E90FF;">
                  </div>
                </form>
            </li>
          </ul>
        </div>
      </nav>
    </li>
    <li>
        <label id="message"  style="color:#FF0000"></label>
    </li>
</ul>
<script>
window.history.forward(1);

let work_name = document.querySelector('#getnick').textContent.slice(22).trim();
document.querySelector('#back').href = "/mainwindow/" + work_name;
document.querySelector('#message').textContent = "";

function clearing () {

document.querySelector('#message').textContent = "";
if (document.querySelector('#theme').value == "" && document.querySelector('#text').value == "") {
    document.querySelector('#sendbutton').disabled = true;
}
else {
    document.querySelector('#sendbutton').disabled = false;

}

}

function sendmail () {
    document.querySelector('#sendbutton').textContent = "Идёт отправка писем. Пожалуйста, подождите";
    document.querySelector('#sendbutton').setAttribute("disabled", true);
    let theme = document.querySelector('#theme').value;
    let text = document.querySelector('#text').value;
    document.querySelector('#text').setAttribute("readonly", "true");
    document.querySelector('#theme').setAttribute("readonly", "true");
    document.querySelector('#file').setAttribute("disabled", "true");


    let getters = document.querySelector('#person').textContent;
    let file = document.querySelector('#file').files;
    let work_name = document.querySelector('#getnick').textContent.slice(22).trim();
    let  uri = "/sendmail/" + work_name;


    var xhr = new XMLHttpRequest();
    var fd = new FormData();
    xhr.open('POST', uri, true);
    xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && xhr.status == 200) {
          document.querySelector('#sendbutton').textContent = "Отправить";
          document.querySelector('#sendbutton').removeAttribute("disabled");
                    document.querySelector('#file').removeAttribute("disabled");

          document.querySelector('#text').removeAttribute("readonly");
          document.querySelector('#theme').removeAttribute("readonly");
          document.getElementById("file").value = "";
          document.querySelector('#text').value = "";
          document.querySelector('#theme').value = "";
          document.querySelector('#message').textContent = "Рассылка завершена";


        }
    }
    if (document.querySelector('#file').files.length != 0){
        fd.append('file', file[0]);
    }
    fd.append('text', text);
    fd.append('theme', theme);
    fd.append('getters', getters);

    xhr.send(fd);
  }
</script>

{% endblock %}